@charset "UTF-8";
    
        
        /* 전체 수정부분 */
        li{list-style: none; margin:8px 12px;}
        ul{padding: 0px; }
        a:link {color : pink;}
        a:visited {color : black;}        
        a:active {color : black;}
        main{padding-top: 100px; display: flex;background-color: wwhite; justify-content: center;}
        
        
        /* 네비바 */
        #navbrand {padding-left: 30px; width: 135px; }
        #navbrand > i {font-size: 25px;color: blueviolet;}
        #nav-icon{font-size: 20px;}
        #nav-icon a{padding-right: 10px; padding-left: 5px;}
        #navbar_item > li{ padding-left: 25px;}
        #menubars{font-size: 22px;}

        /* 어사이드 */
        aside {display: none;}
        aside > ul{  width: 150px;}
        #aside{margin: 0px; padding-left: 15px; width: 150px;}
        #aside > li{text-align: center;}        
        .navbar-nav li{font-size: 22px;}
       
        /* 메인css직접설정 */
        #section {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        width: 100%;
        justify-content: center;
        }
        #section > ul {
        padding: 0px;
        background-color: #f1f1f1;
        width: 400px;
        margin: 8px 8px;
        text-align: center;
        line-height: 25px;
        font-size: 10px;                
        }
        #section > ul > li{font-size: 12px;}
        
        #board_name{text-align: center;}
        
        
        /* 회원가입 부분 css  */
          #signin {
	      min-height: 100vh;
	
	      background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
	      background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	      background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	      background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	      background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
	    }
	
	    .input-form {
	      max-width: 680px;
	
	      margin-top: 80px;
	      padding: 32px;
	
	      background: #fff;
	      -webkit-border-radius: 10px;
	      -moz-border-radius: 10px;
	      border-radius: 10px;
	      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
	    }
        
