<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="config.mapper.MainMapper">
	
	<!--로그인 체크 기능  -->
	<select id="loginCheck" resultType="int">
	select count(*) from member where id=#{id} and password =#{password}
	</select>
	
	<!-- 회원가입 SQL 문 삽입.  -->
	<insert id="signIn">
	insert into member values(member_num_seq.nextval,#{id},#{password},#{email})
	</insert>
	
	<!-- 채널 만들기 SQL 문 삽입. -->
	<insert id="makeChannel">
	insert into channel values(channel_num_seq.nextval,#{channel_name},#{channel_info},#{channel_category},sysdate,#{member_id_fk})
	</insert>
	
	<!-- 게시판 생성 SQL 문 삽입 -->	
	<insert id="makeBoardDo">
	insert into board values(board_num_seq.nextval,#{board_firstkeyword},#{board_secondkeyword},#{board_name},#{board_content},sysdate,#{channel_num})	
	</insert>
	
	<select id="getChannelList" resultType="vo.BoardChannelVO">
	select * from channel where member_id_fk = #{memberId}
	</select>
	
</mapper>